{% extends 'base.html.twig' %}
{% block title %}Update subscriber{% endblock %}
{% block body %}
	<div class="container">
		<div class="col-8 offset-2 btn-block mt-1 p-0 text-right">
			<a class="btn btn-primary mr-1" href="{{path('subscribers')}}">Subscribers</a>
			<a class="btn btn-success mr-1" href="{{path('categories')}}">Categories</a>
			<a class="btn btn-primary" href="{{path('logout')}}">Logout</a>
		</div>
		<h2 class="text-center mt-2">Update subscriber</h2>
		<div class="row">
			<div class="col-8 offset-2">
				{{ form_start(form) }}
				{{ form_widget(form) }}
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}